<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="row profile">
        <div class="col-md-4 profile-pic">
          <%= image_tag @user.avatar, alt: @user.name %>
        </div>
        <div class="col-md-8 profile-info">
          <div class="line name">
            <%= @user.name %>
            <% if can? :update, @user %>
              <%= link_to t(".edit_profile"), edit_user_registration_path %>
            <% end %>
          </div>
          <div class="line email"><%= @user.email %></div>
        </div>
      </div>

      <% if user_signed_in? && @user == current_user %>
        <div class="new-post-form">
          <div class="create-post">
            <i class="glyphicon glyphicon-pencil"></i>
            <span><%= t ".create_post" %></span>
          </div>
          <%= render "shared/post_form" %>
        </div>
      <% end %>

      <div class="main">
        <% if @user.posts.any? %>
          <%= render @posts %>
          <%= will_paginate @posts %>
        <% end %>
      </div>
    </div>
  </div>
</div>
