<li id="comment-<%= comment.id %>">
  <%= link_to comment.user do %>
    <%= image_tag comment.user_avatar %>
  <% end %>
  <div class="info">
    <span class="user"><%= link_to comment.user_name, post.user %></span>
    <span class="content"><%= comment.content %></span>
    <% if current_user == post.user %>
      <div class="dropdown action-btn">
        <i class="dropdown-toggle glyphicon glyphicon-chevron-down"
          data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">
        </i>
        <div class="actions dropdown-menu">
          <%= link_to t(".delete"), [comment.post, comment], method: :delete,
            data: {confirm: t(".you_sure")} %>
        </div>
      </div>
    <% end %>
    <span class="timestamp">
      <%= t ".posted" %> <%= time_ago_in_words comment.created_at %> <%= t ".ago" %>
    </span>
  </div>
</li>
