<li class="tech-no">
  <div class="soci">
    <ul class="blank">
    </ul>
  </div>
  <div class="tc-ch post-item post-<%= post.id %>" id = "post-<%= post.id %>" post_id = "<%= post.id %>">

    <div class="tch-img">
    <%= link_to post do %>
      <%= image_tag post.picture, class: "img-responsive" %>
    <% end %>
    </div>
    <div class="main-info">
      <h3><%= link_to post.title, post %></h3>
      <h5><%= post.all_tags %></h5>
      <p><%= post.content %></p>
    </div>
    <% if can? :destroy, post %>
      <div class="dropdown action-btn">
        <i class="dropdown-toggle glyphicon glyphicon-chevron-down" data-toggle="dropdown"
          role="button" aria-haspopup="true" aria-expanded="false">
        </i>
        <div class="actions dropdown-menu">
          <%= link_to t(".delete"), post, method: :delete, class: "action delete-post" %>
          <% if can? :modify, post %>
            <%= content_tag :span, t(".edit"), class: "action edit-post", post_id: post.id %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="blog-poast-info">
      <ul>
        <li>
          <i class="glyphicon glyphicon-user"></i>
          <%= link_to post.user.name, post.user %>
        </li>
        <li>
          <i class="glyphicon glyphicon-calendar"></i>
          <%= post.created_at.localtime().strftime("%I:%M %d.%m.%Y") %>
        </li>
        <li class="show-cmt">
          <i class="glyphicon glyphicon-comment"></i>
          <span class="p-blog">
            <%= post.comments.size %> <%= t ".comments" %>
          </span>
        </li>
        <li class="likes">
          <% if user_signed_in? %>
            <%= render "likes/like_form", post: post %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="comments">
      <ul class="display-comment">
        <%= render post.comments, user: @user %>
      </ul>
      <% if user_signed_in? %>
          <div class="create-comment">
            <%= render "posts/comment_form", post: post,
              comment: post.comments.build %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
</li>
