<div class="footer">
  <div class="container">
    <div class="col-md-4 footer-left">
      <h6><%= t ".about_glob" %></h6>
      <p><%= t ".lorem" %></p>
      <p><%= t ".lorem2" %></p>
    </div>
    <div class="col-md-4 footer-middle">
      <h4><%= t ".head_office" %></h4>
      <div class="mid-btm">
        <p><%= t ".kaengnam" %></p>
        <p><%= t ".phone" %></p>
      </div>
    </div>
    <div class="col-md-4 footer-right">
      <h4><%= t ".hn_edu" %></h4>
      <div class="mid-btm">
        <p><%= t ".toong" %></p>
        <p><%= t ".phone" %></p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="foot-nav">
  <div class="container">
    <ul>
      <li><%= link_to t(".home"), root_path %></li>
      <li><%= link_to t(".users"), "#" %></li>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <div class="clearfix"></div>
    </ul>
  </div>
</div>
<div class="copyright">
  <div class="container">
    <p><%= t ".tuananh" %> | <%= link_to t(".framgia"), "https://www.facebook.com/FramgiaVietnam/" %></p>
  </div>
</div>
